/* Universal */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: 2048px;
    min-width: 320px;
}


/* Navigation */

a {
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: bolder;
    font-size: 1.2em;
    max-width: 100%;
    min-width: 80%;
    padding-top: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav a {
    text-decoration: none;
    float: left;
    padding-right: 10px;
    font-family: 'Crete Round', serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: right;
}

nav div {
    display: flex;
    align-items: center;
    padding-right: 75em;
    padding-left: 1em;
}

nav img {
    height: 2.5em;
}

div a, li a {
    color: #231F20;
}

div a:hover {
    color: #FFC038;
}

.golden {
    font-family: 'Crete Round', serif;
    color: #FFC038;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

h1 {
    margin-bottom: 0px;
    font-size: 3em;
    font-family: 'Crete Round', serif;
}

h2 {
    text-align: left;
    font-family: 'Crete Round', serif;
}

h3 {
    color: black;
    border: 4px solid black;
    padding: 10px;
    text-align: center;
}

h5 {
    margin-bottom: 1em;
}

h6 {
    font-family: 'Crete Round', serif;
    font-style: italic;
    color: #231F20;
    letter-spacing: 1px;
    margin-top: 0px;
    font-size: 0.9em;
}

p {
    width: 40%;
    font-size: 1.4em;
}

hr {
    border: 0.5px solid lightgray;
    width: 75em;
    margin-top: 2em;
    margin-bottom: 1em;
}

#welcome {
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #231F20;
    margin-left: auto;
    margin-right: auto;
}

#headline {
    display: flex;
    flex-direction: column;
}

#articleheadline {
    margin-top: 1.5em;
}

/* Featured Stories */

figcaption {
    color: gray;
    font-style: italic;
    font-size: 1em;
    margin-left: 1em;
}

figure img {
    opacity: 0.6;
}

figure img:hover {
    opacity: 1.0;
}

#feature {
    display: flex;
    flex-direction: column;
} 

.featurestory {
    display: flex;
    flex-direction: row;
    margin-left: 9.5em;
    align-items: flex-start;
}

/* Footer */

footer{
    background-color: #231F20;
    padding: 2em 2em 1em 2em;
    margin-top: 3em;
    width: 100%;
    color: #EAEAEA;
}

/* Contact */

form {
    margin-top: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
}

#send {
      margin-left: 9em;
}

/* Breakpoints */

@media only screen and (max-width: 1300px) {

    * {
        margin: 0;
    }

    footer {
        color: blue;
    }

    nav div {
        display: flex;
        align-items: center;
        padding-right: 45em;
    }


    .featurestory {
        padding-top: 2em;
    }

}

@media only screen and (max-width: 1024px) {

    * {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    h6 {
        font-size: 0.5
    }

    hr {
        width: 45em;
    }

    footer {
        display: block;
        color: green;
    }

    figcaption {
        overflow: hidden;
        display: none;
    }

    nav div {
        display: flex;
        align-items: center;
        padding-right: 30em;
    }

    .featurestory{
        margin-left: 0;
        
    }

    #wrapper {
        width: auto;
        min-width: 0;
    }
}


@media only screen and (max-width: 768px) {

    img {
        max-height: 100%;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
      width: 18em;
      margin-left: 5em;
    }

    footer {
        display: block;
    }

    nav {
        font-size: 1em;
    }

    nav div {
        display: flex;
        align-items: center;
        padding-right: 22em;
    }

    #wrapper {
        width: auto;
        min-width: 0;
    }

    #welcome {
        font-size: 4em;
    }
}

@media only screen and (max-width: 520px) {
  
    main {
        padding-top: 9em;
    }

    nav {
        overflow: hidden;
    }

    img {
        max-width: 100%;
        display: block;
    }

    h1 {
        font-size: 2.5em;
    }


    p {
        width: 18em;
        padding-top: 2em;
        margin-left: 2em;
    }

    figcaption {
        display: none;
    }

    footer {
        display: block;
        text-align: center;
        margin-top: 5em;
    }

    nav {
      position: absolute;
        font-size: 1em;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #FFC038;
    }

    nav div {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-right: 2em;
        text-transform: uppercase;
        color: black;
    }

    a img {
        width: 20em;
    }

    ul li {
        color: black;
        width: 100%;
        text-align: center;
    }

    li a {
        width: 100%;
        padding: 6px 8px 6px 8px;
        font-size: 1.5em;
        color: black;
        border: 4px solid black;
        text-align: center;
    }

    li a:hover {
        color: white;
        border: 5px solid white;

    }

    ul li:first-child {
        margin-bottom: 1em;
    }

    ul li:nth-child(2) {
        margin-bottom: 1em;
    }

    .featurestory {
        padding-top: 2em;
    }

    .articleheadline {
        font-size: 1em;
    }

    #wrapper {
        overflow: hidden;
    }

    #desktoplogo {
        display: none;
    }

    #welcome {
        font-size: 3em;
    }

    #feature {
    }
}
